<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale= 1.0, minimun-scale= 1.0, user-scalable=0">
		<title></title>
		<script src="libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/common.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="libs/jquery/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/jquery/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="libs/iscroll/build/iscroll.js" type="text/javascript" charset="utf-8"></script>  
		<link rel="stylesheet" type="text/css" href="libs\font-awesome\css\font-awesome.min.css"/>
	    <link rel="stylesheet" type="text/css" href="libs\swiper\dist\css\swiper.min.css"/>
	    <link rel="stylesheet" type="text/css" href="libs/css/common.min.css">
	    <script src="libs/js/guid.js" type="text/javascript" charset="utf-8"></script>
	    <script src="libs/js/common.js" type="text/javascript" charset="utf-8"></script>
	    <link rel="stylesheet" type="text/css" href="libs/jquery-confirm-master/css/jquery-confirm.css"/>
	    <script type="text/javascript" src="libs\jquery-confirm-master\js\jquery-confirm.js"></script>
	    <script src="libs/js/datum.js" type="text/javascript" charset="utf-8"></script>
	    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css"/>
	</head>
	<body ng-app="myApp" ng-controller="mycon">
		<div id="header">我的资料
			<a href="javascript:window.history.go(-1)"><i class="fa fa-chevron-left"></i></a>
			<i class="fa fa-th-list"></i>
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="list_page.html">分类查询</a></li>
				<li><a href="cart.html">购物车</a></li>
				<li><a href="user.html">个人中心</a></li>
			</ul>
		</div>

   		<div id="wrapper" class="datum">
			<div id="scroller">
				<ul>
					<li ng-click="resetimg()"><a>头像<img ng-src="{{img}}" src="libs/img/user.jpg"></a></li>
					<li class="name" ng-click="resetname()"><a>用户名 <span ng-bind="account"></span></a></li>
					<li ng-click="resetpassword()"><a>修改密码</a></li>
				</ul>
			</div>	
		</div>
		<div class="pop head_img"></div>
		<div class="pop name">
			<div class="form-group">
			    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="account">
			  </div>
			  <button  class="btn btn-default" ng-click="re_name()">保存</button>
		</div>
		<div class="pop psw"></div>
		
		
		<div id="footer">
			<div class="home">
				<a href="index.html"><i class="fa fa-home  fa-2x" ></i></a>
			</div>
			<div class="cart">
				<a href="cart.html"><i class="fa fa-shopping-cart fa-2x"></i></a>
			</div>
			<div class="personal">
				<a href="user.html"><i class="fa fa-user fa-2x"></i></a>
			</div>
	</div>
	</body>
</html>